<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Websites</title>
    </head>
    <body>
        {{>header}}
        <p>My name is steven. My age is 30 years old. I wish to become an eligible web developer.</p>
    </body>
        {{>footer}}
</html>